*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.aps
*.VC.db
*.VC.opendb
ipch/
Debug/
Release/*.exe
Release/*.iobj
Release/*.ipdb
Release/*.pdb
Release/*.csv
Release/*.log
ServoSetup/Release/
ServoSetup/Debug/
